---
import { Image } from "astro:assets";
import MainLayout from "../../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Blog">
    <section aria-labelledby="titleBlog">
        <div class="wrapper-contents blog">
            <h1 id="titleBlog" class="text-center">Blog</h1>
        </div>
    </section>
</MainLayout>
