---
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";
import { formatBlogPosts } from "../../js/utilsBlog";
import "../../styles/blog.css";
const allPosts = await Astro.glob("./*.md");
const formattedPosts = formatBlogPosts(allPosts);
---

<MainLayout title="Blog">
    <section aria-labelledby="titleBlog">
        <div class="wrapper-contents blog">
            <h1 id="titleBlog" class="text-center">New Blog Posts</h1>
            <div class="wrapper-posts">
                {
                    formattedPosts.map((post) => (
                        <PostCard
                            frontmatter={post.frontmatter}
                            url={post.url}
                            tagType="h3"
                        />
                    ))
                }
            </div>
        </div>
    </section>
</MainLayout>
