---
import PostCard from "../components/PostCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import "../styles/blog.css";

// utils imports
import { formatBlogPosts } from "../js/utilsBlog";
const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
	limit: 3,
});
---

<MainLayout title="Homepage">
	<section aria-labelledby="titleHome">
		<div class="wrapper-contents home">
			<h1 id="titleHome" class="text-center">
				Hello, I'm Astro <br />Welcome to my Blogxyz
			</h1>
		</div>
	</section>
	<section aria-labelledby="titleBlog">
		<div class="wrapper-contents blog">
			<h2 id="titleBlog">Recent Blog Posts</h2>
			<div class="wrapper-posts">
				{
					formattedPosts.map((post) => (
						<PostCard
							frontmatter={post.frontmatter}
							url={post.url}
							tagType="h3"
						/>
					))
				}
			</div>
		</div>
	</section>
</MainLayout>
