---

---

<footer>
    <div class="wrapper-contents footer flex-between-center wrap gap-1">
        <div>
            <a href="/" class="logo" title="Back to Home">Chrisxyz</a>
        </div>
        <p>
            &copy; <span id="copyright"></span> | All rights reserved | Made by
            : Miko
        </p>
        <div class="flex-center gap-1">
            <a href="./rss.xml">Subscribe to RSS</a>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="20"
                height="20"
                ><g
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    ><circle cx="5" cy="19" r="1"></circle><path
                        d="M4 4a16 16 0 0 1 16 16M4 11a9 9 0 0 1 9 9"></path></g
                ></svg
            >
        </div>
    </div>
</footer>

<style>
    .footer {
        padding-block: 1em;
        border-top: var(--border);
    }

    .footer p {
        font-size: var(--clamp-1-xl);
    }

    /* 700px  */
    @media (max-width: 43.75em) {
        .footer {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
</style>
